@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

.nanumgothic * {
 font-family: 'Nanum Gothic', sans-serif;
}

* {
    font-family: 'Nanum Gothic', sans-serif;
    box-sizing: border-box; /* 오페라(Opera) */
    -moz-box-sizing: border-box; /* 파이어폭스(Firefox)*/
    -webkit-box-sizing: border-box; /* 웹킷(Webkit) & 크롬(Chrome) */
    color: white;
}
html{
    height: 100vh;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background: url(../img/background.png) no-repeat center/cover;
    overflow: hidden;
}
html,body,header,footer{
    width:100%;
    margin:0 auto;
}
body{
    display:flex;
    height: 100%;
}
.container{
    align-self:center;
    padding: 20px;
    position: relative;
    width: 80%;
    box-shadow: 0px 5px 15px -6px rgba(0,0,0,0.75);
    border-radius: 20px;
    max-width: 400px;
    margin: 10px auto;
    background: rgba(5, 13, 25, 0.569);
}
#moon{
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 50px;
    width: 250px;
    height: 250px;
    display:block;
    background:#333;
    border-radius:50%;
    box-shadow: 0 1px 2px rgb(255 255 255 / 7%), 0 2px 4px rgb(255 255 255 / 7%), 0 4px 8px rgb(255 255 255 / 7%), 0 8px 16px rgb(255 255 255 / 7%), 0 16px 32px rgb(255 255 255 / 7%), 0 32px 64px rgb(255 255 255 / 7%);
    animation:moon 10s linear infinite;
    -webkit-animation:moon 10s linear infinite;
    -moz-animation:moon 10s linear infinite;
}
@keyframes moon{
    0% {
        background:#333;
        border-left:125px solid #333;
        border-right:0 solid #eee;
    }
    50% {
        background:#333;
        border-left:125px solid #333;
        border-right:125px solid #eee;
    }
    51% {
        background:#eee;
    }
    100% {
        background:#eee;
        border-left:0 solid #333;
        border-right:125px solid #eee;
    }
}
@-webkit-keyframes moon{
    0% {
        -webkit-background:#333;
        -webkit-border-right:125px solid #333;
        -webkit-border-left:0 solid #eee;
      }
      50% {
        -webkit-background:#333;
        -webkit-border-right:125px solid #333;
        -webkit-border-left:125px solid #eee;
      }
      51% {
        -webkit-background:#eee;
      }
      100% {
        -webkit-background:#eee;
        -webkit-border-right:0 solid #333;
        -webkit-border-left:125px solid #eee;
      }
}
@-moz-keyframes moon{
    0% {
        -moz-background:#333;
        -moz-border-left:125px solid #333;
        -moz-border-right:0 solid #eee;
    }
    50% {
        -moz-background:#333;
        -moz-border-left:125px solid #333;
        -moz-border-right:125px solid #eee;
    }
    51% {
        -moz-background:#eee;
    }
    100% {
        -moz-background:#eee;
        -moz-border-left:0 solid #333;
        -moz-border-right:125px solid #eee;
    }
}

#name{
    text-align: center;
    vertical-align: middle;
    font-weight:900;
    width: 100;
    color: #eee;
    letter-spacing: 5px;
    font-size: 75px;
    transform: translateY(-35px);
    text-shadow: 0px 2px 10px rgba(255, 255, 255, 0.25);
}
#details{
    display: flex;
    text-align: left;
    align-self:center;
    font-size: 0.9em;
}

#details span{
/*   display: block; */
    color: #eee;
    display: inline-block;
}

#details span:nth-child(odd){
    width: 100px;
    border-left: 2px solid rgb(83, 133, 145);
    font-weight: bold;
    padding-left: 10px;
}
#details span:nth-child(even){
    align-self: flex-end;
    color:#eee;
    text-align: right;
    width: 150px;
    border-right: 2px solid #eee;
    padding-right: 10px;
}
li{
    list-style: none;
    margin: 25px auto;
    padding:0px;
}
ul{
    margin: 0px auto;
    margin-top: -30px;
    padding: 0px;
    padding-bottom: 10px;
}
nav{
    position: fixed;
    left: 0;
    top: 0;
}
header{
    height: 30px;
}
footer{
    height: 50px;
}

@media ( max-width: 1023px ) {
  
}
@media ( max-width: 767px ) {
    #name{
        text-align: center;
        font-weight:900;
        width: 100;
        color: #eee;
        letter-spacing: 5px;
        font-size: 50px;
        transform: translateY(-35px);
        text-shadow: 0px 2px 10px rgba(255, 255, 255, 0.25);
    }
}
